// parades
.parade-images .image {
  position: relative;
  height: 280px;
  margin: 20px 0;

  width: 100%;
}

.parade-images .image .more {
  position: absolute;
  right: 10px;
  bottom: 5px;

  color: $text-secondary;
}

.parade-images .parade-1 {
 background: center / cover no-repeat url(../../images/photos/numeriquelles4.jpg);
 transition: 2s;
}

.parade-images .parade-2 {
  background: center / cover no-repeat url(../../images/photos/numeriquelles5.jpg);
  transition: 2s;
 }

.parade-images .more {
  cursor: pointer;
 }

// Constat et objectifs
.text-image {
  margin-top: 60px;
  margin-bottom: 40px;
}

.text-image .image {
  min-height: 150px;
  background: center / cover no-repeat url(../../images/photos/numeriquelles16.jpg);
}

.text-image .image-2 {
  background-image: url(../../images/photos/numeriquelles17.png);
}

.text-image .image-3 {
  background-image: url(../../images/photos/numeriquelles14.jpg);
}

.text-image .paragraphe {
  margin-top: 20px;
}

// section information
.information {
  margin: 30px 0;
  
  color: #FFF;
  text-align: center;
  
  border-radius: 7px;
  
  background-color: $bg-secondary;
}

.information .icon { 
  padding: 30px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information .info { 
  padding: 45px 10px;
}

.information .first-text {
  margin: 20px 0;

  font-size: 1.3em;
  font-weight: $weight-bold;
}

.information .text  {
  padding: 0 6px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.information .text .first-text {
  margin-top: 25px;
}

.information .text .second-text {
  margin-bottom: 6px;
  padding: 40px 18px 28px 18px;
  width: 100%;
  
  color: $text-dark;
  text-align: left;

  background-color: #FFF;

  border-radius: 0 0 7px 7px;
}

// draw-text
.draw-text {
  margin: 40px 0;
}

.draw-text .image {
  width: 100%;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  // parade
  .parade-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  .parade-images .image {
    height: 320px;
  }

  // text-image
  .text-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }

  // informations 
  .informations-nb-event {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 30px;
  }

  .information-title {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 30px;
  }

  .informations-experts {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 30px;
  }

  .information .text .second-text {
    padding: 40px 18px;
  }

  // text-draw
  .draw-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
  }
}