.header {
  position: relative;
  
  font-size: .9em;

  z-index: 10;
}

// navbar
.navbar {
  background-color: #FFF;

  transition: 0.4s;
}

// burger
.contain-burger {
  display: flex;
  align-items: center;
  height: 50px;

  cursor: pointer;
}

.burger-nav {
  position: relative;
  height: 3px;
  width: 35px;

  background-color: $bg-primary;

  border-radius: 3px;

  cursor: pointer;
}

.burger-nav::before {
  content: '';
  display: inline-block;
  height: 3px;
  width: 35px;

  background-color: $bg-primary;

  border-radius: 3px;
}

.burger-nav::after{
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  display: inline-block;
  height: 3px;
  width: 35px;

  background-color: $bg-primary;

  border-radius: 3px;
}

// navbar
.navbar .logo {
  height: 45px;
}

.nav {
  display: none;
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;

  text-align: center;

  background-color: #FFF;

  border-top: 15px solid $bg-light;
  z-index: 1;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 2;
}

.nav .section {
  display: block;
  padding: 15px 0;

  text-transform: uppercase;

  cursor: pointer;
  transition: .4s;
}

.nav .section:hover {
 color: $text-primary;
}

.nav .active {
  color: $text-primary;
}

.section .fa-angle-down {
 position: relative;
 top: 4px;
 margin-left: 5px;
}

.section.events-dropdown,
.section.stages-dropdown {
  position: relative;
}

.events-cities,
.stages {
  display: none;
  margin-top: 10px;
  padding: 30px 25px;
  width: 100%;

  text-align: left;

  background-color: #FFF;

  border-radius: 13px;
  border: 1px solid $bg-primary;
}

.events-cities a,
.stages a {
  display: block;
  padding: 10px 0;

  border-bottom: 1px solid rgb(173, 173, 173);
}

.events-cities a:last-child,
.stages a:last-child {
  border: none;
}

.section-title-events {
  position: relative;
  display: inline-block;
}

.events-dropdown:hover .events-cities,
.stages-dropdown:hover .stages {
  display: block;
}

.events-cities a:hover,
.stages a:hover {
  background-color: rgb(245, 245, 245);
}

.events-cities a,
.stages a {
  font-size: .9em;
}

// jumbotron
.jumbotron {
  position: relative;
  height: 415px;

  background: center / cover no-repeat url(./images/photos/numeriquelles15.jpg);
}

.jumbotron-2 {
  background-image: url(./images/photos/numeriquelles1.jpg);
}

.jumbotron-3 {
  background-image: url(./images/photos/numeriquelles2.jpg);
}

.jumbotron-4 {
  background-image: url(./images/photos/numeriquelles3.jpg);
}

.jumbotron-5 {
  background-image: url(./images/photos/numeriquelles4.jpg);
}

.jumbotron-6 {
  background-image: url(./images/photos/numeriquelles5.jpg);
}

.jumbotron-7 {
  background-image: url(./images/photos/numeriquelles6.jpg);
}

.jumbotron-8 {
  background-image: url(./images/photos/numeriquelles7.jpg);
}

.jumbotron-9 {
  background-image: url(./images/photos/numeriquelles8.jpg);
}

.jumbotron-10 {
  background-image: url(./images/photos/numeriquelles9.jpg);
}

.jumbotron-11 {
  background-image: url(./images/photos/numeriquelles10.jpg);
}

.jumbotron-12 {
  background-image: url(./images/photos/numeriquelles11.jpg);
}

.jumbotron .presentation { 
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.jumbotron .text {
  font-weight: 600;

  font-size: 1.1em;
  color: #FFF;

  background-color: rgba(0, 0, 0, 0.377);
}

.name-city {
  font-size: 2em;
  font-weight: 900;
}

@media only screen and (min-width: 768px) {
  // jumbotron
  .jumbotron {
    height: 330px;
  }

  .jumbotron .text {
    width: 550px;
    padding-left: 70px;

    border-radius: 0 13px 13px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    z-index: 1;
  }

  .container-navbar {
    padding: 0 50px;
  }

  .jumbotron {
    margin-top: 120px;
  }

  // nav
  .nav {
    position: relative;
    top: -4px;
    display: block;
    width: auto;
    height: auto;

    text-align: right;

    border: none;
  }
  .nav .section {
    display: inline-block;
    padding: 42px 15px;
  }

  // burger-nav
  .burger-nav {
    display: none;
  }

  .events-cities,
  .stages {
    position: absolute;
    top: 80px;
    left: 0;
    padding: 30px 25px;
    width: 195px;
  }
}
