.material-access-button {
  margin-top: 60px;
}

.image-onisep-logo {
  width: 250px;
  margin-bottom: 20px;
}

.contain-img-onisep {
  text-align: center;
}

.container-banner-onisep {
  text-align: center;
}

.onisep-banner {
  width: 100%;
}

