
//typography CSS
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/HelveticaNeueLTStd-Roman.otf");
}

$text-font: 'Helvetica', sans-serif;

$weight-bold: 800;
$weight-semi-bold: 600;
$weight-light: 300;

html {
  font-size: 16px; 
}

body {
  font-family: $text-font;
  line-height: 1.5;
  // color: $text-secondary;
}

//title
.title {
  margin-top: 70px;

  font-size: 1.6em;
  font-weight: $weight-bold;
}

.container-title .circles {
  color: $text-primary;
}

.subtitle {
  margin: 45px 0 30px 0;

  font-size: 1.4em;
  font-weight: $weight-bold;
  color: $text-primary;

  opacity: .75;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 1.7em;
  }
  
  .subtitle { 
    font-size: 1.5em;
  }
}

// weights
.bold {
  font-weight: $weight-bold;
}

.mark {
  font-weight: $weight-bold;
  color: $text-secondary;
}

.mark-primary {
  font-weight: $weight-bold;
  color: $text-primary;
}

@media only screen and (min-width: 1200px) {
  .container-title {
    position: sticky;
    top: 73px;
    padding-bottom: 7px;

    background-color: #FFF;
    border-bottom: 4px solid $bg-light;
    z-index: 3;
  }
}